<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package
        UpgradeCode="{{ cookiecutter.guid }}"
        Name="{{ cookiecutter.formal_name }}"
        Version="{{ cookiecutter.version_triple }}"
        Manufacturer="{{ cookiecutter.author or 'Anonymous' }}"
        Language="1033"
        Scope="{{ 'perUserOrMachine' if 'User' in cookiecutter.install_scope else 'perMachine' }}">
        <!-- See scope comments below -->

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Icon Id="ProductIcon" SourceFile="icon.ico" />

        <!-- Add/Remove Programs settings -->
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        {% if cookiecutter.url -%}
        <Property Id="ARPURLINFOABOUT" Value="{{ cookiecutter.url }}" />
        {% endif -%}
        {% if cookiecutter.author_email -%}
        <Property Id="ARPCONTACT" Value="{{ cookiecutter.author_email }}" />
        {% endif -%}
        <Property Id="ARPNOREPAIR" Value="1" />
        <Property Id="ARPNOMODIFY" Value="1" />

        <!-- If we ever add the InstallDirDlg, it will use this property to control the
        target directory. The value must be upper case to make it a public property
        that will be passed to the execution phase. And since WiX will create a default
        INSTALLFOLDER directory under certain circumstances, let's override that with
        our own definition to avoid confusion. -->
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

        <!-- This is either the per-user or the per-machine Program Files folder,
        depending on the values of the ALLUSERS and MSIINSTALLPERUSER properties. -->
        <StandardDirectory Id="ProgramFiles64Folder">
            {%- if cookiecutter.use_full_install_path %}
            <Directory Name="{{ cookiecutter.author or 'Unknown Developer' }}">
            {%- endif %}
            <Directory Id="INSTALLFOLDER" Name="{{ cookiecutter.formal_name }}" />
            {%- if cookiecutter.use_full_install_path %}
            </Directory>
            {%- endif %}
        </StandardDirectory>

        <ComponentGroup Id="{{ cookiecutter.module_name }}_COMPONENTS">
            <Files
                Directory="INSTALLFOLDER"
                Include="\\?\{{ cookiecutter.package_path }}\**" />
        </ComponentGroup>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuSubfolder" Name="{{ cookiecutter.formal_name }}">
                <Component Id="ApplicationShortcuts">
                    <Shortcut
                        Id="ApplicationShortcut1"
                        Name="{{ cookiecutter.formal_name }}"
                        Icon="ProductIcon"
                        Description="{{ cookiecutter.description }}"
                        Target="[INSTALLFOLDER]{{ cookiecutter.binary_path }}" />
                    <RegistryValue
                        Root="HKMU"
                        Key="Software\{{ cookiecutter.author or 'Unknown Developer' }}\{{ cookiecutter.formal_name }}"
                        Name="installed"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />
                    <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
                </Component>
            </Directory>
        </StandardDirectory>

        {% if cookiecutter.document_types -%}
        <SetProperty
            Id="FileAssociationProperty"
            Value="[INSTALLFOLDER]{{ cookiecutter.binary_path }}"
            After="CostFinalize" />

        {% for document_type_id, document_type in cookiecutter.document_types|dictsort -%}
        <Component
            Id="FileAssociation.{{ document_type_id }}"
            Directory="INSTALLFOLDER">
            <File
                Id="ProductIcon.{{ document_type_id }}"
                Source="{{ cookiecutter.app_name }}-{{ document_type_id }}.ico" />
            <ProgId
                Id="{{ cookiecutter.bundle }}.{{ cookiecutter.app_name }}.{{ document_type_id }}"
                Description="{{ document_type.description }}"
                Icon="ProductIcon.{{ document_type_id }}">
                <Extension
                    Id="{{ document_type.extension }}"
                    ContentType="{% if document_type.get('mime_type') %}{{ document_type.mime_type }}{% else %}application/x-{{ cookiecutter.app_name }}-{{ document_type_id }}{% endif %}">
                    <Verb
                        Id="open"
                        Command="Open"
                        TargetProperty="FileAssociationProperty"
                        Argument='"%1"' />
                </Extension>
            </ProgId>
        </Component>
        {%- endfor %}
        {%- endif %}

        <Feature Id="DefaultFeature">
            <ComponentGroupRef Id="{{ cookiecutter.module_name }}_COMPONENTS" />
            <ComponentRef Id="ApplicationShortcuts" />
            {%- for document_type_id in cookiecutter.document_types.keys()|sort %}
            <ComponentRef Id="FileAssociation.{{ document_type_id }}" />
            {%- endfor %}
        </Feature>

        {% if cookiecutter.console_app %}
        <!-- If a Level evaluates to 0 at the start of either the UI or the execution
        phase, then the feature cannot be re-enabled by any means, not even the ADDLOCAL
        property or the AddLocal event. So the Level conditions check 2 properties:

        * ALLUSERS (see scope comments) enables one feature in non-interactive or
          fixed-scope installs.
        * UILevel enables both features in interactive, configurable-scope installs.
          The InstallScopeDlg will then disable the one the user doesn't select. -->
        {% set ui_condition = (
            "OR UILevel &gt;= 5"
            if cookiecutter.install_scope == "perUserOrMachine"
            else ""
        ) %}

        <Feature Id="UserPathEnvFeature" Level="0">
            <Level Condition="NOT ALLUSERS {{ ui_condition }}" Value="1" />
            <Component
                Id="UserPathEnvComponent"
                Guid="{{ '.'.join(['system-path', cookiecutter.app_name] + cookiecutter.bundle.split('.')[::-1])|dns_uuid5 }}">
                <Environment
                    System="no"
                    Name="PATH"
                    Action="set"
                    Part="first"
                    Value="[INSTALLFOLDER]" />
            </Component>
        </Feature>

        <Feature Id="MachinePathEnvFeature" Level="0">
            <Level Condition="ALLUSERS {{ ui_condition }}" Value="1" />
            <Component
                Id="MachinePathEnvComponent"
                Guid="{{ '.'.join(['user-path', cookiecutter.app_name] + cookiecutter.bundle.split('.')[::-1])|dns_uuid5 }}">
                <Environment
                    System="yes"
                    Name="PATH"
                    Action="set"
                    Part="first"
                    Value="[INSTALLFOLDER]" />
            </Component>
        </Feature>
        {% endif %}

        <!-- UI features are documented at https://docs.firegiant.com/wix3/wixui/, and
        implemented in the WiX source code under src/ext/UI/wixlib.

        We implement our own UI flow by linking together individual dialogs. There are
        some pre-defined UI flows such as WixUI_Advanced, but they don't allow much
        customization, and they have some bugs, e.g.
        https://github.com/wixtoolset/issues/issues/5908. -->

        <!-- Enable the radio buttons in InstallScopeDlg, and set the default value -->
        <WixVariable Id="WixUISupportPerUser" Value="1" />
        <WixVariable Id="WixUISupportPerMachine" Value="1" />
        <Property Id="WixAppFolder" Value="WixPerUserFolder" />

        <UI>
            <!-- Include all TextStyles from WixUI_Advanced -->
            <TextStyle
                Id="WixUI_Font_Normal"
                FaceName="!(loc.Advanced_Font_FaceName)"
                Size="!(loc.Advanced_Font_Normal_Size)" />
            <TextStyle
                Id="WixUI_Font_Bigger"
                FaceName="!(loc.Advanced_Font_FaceName)"
                Size="!(loc.Advanced_Font_Bigger_Size)" />
            <TextStyle
                Id="WixUI_Font_Title"
                FaceName="!(loc.Advanced_Font_FaceName)"
                Size="!(loc.Advanced_Font_Title_Size)"
                Bold="yes" />
            <TextStyle
                Id="WixUI_Font_Emphasized"
                FaceName="!(loc.Advanced_Font_FaceName)"
                Size="!(loc.Advanced_Font_Emphasized_Size)"
                Bold="yes" />
            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

            <!-- Include all DialogRefs from WixUI_Advanced. These include:

            * Child dialogs launched from top-level dialogs.
            * Dialogs implicitly shown at particular points in the install, determined
              either by their IDs, or the InstallUISequence in their source code. -->
            <DialogRef Id="BrowseDlg" />
            <DialogRef Id="DiskCostDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <DialogRef Id="WelcomeDlg" />

            <!-- Scope handling has to work within the following constraints, some of
            which are documented, and some not
            (https://learn.microsoft.com/en-us/windows/win32/msi/single-package-authoring):

            * If ALLUSERS="" or 1, then:
              * Whether elevation is required depends on the "Word Count Summary".
              * Some folders are affected by the choice of "" or 1, but ProgramFiles
                folders will always point at the per-machine location.
              * MSIINSTALLPERUSER has no effect during startup.

            * If ALLUSERS=2 and MSIINSTALLPERUSER=1, then:
              * Elevation will not be required.
              * ProgramFiles folders will point at the per-user location.
              * If either phase is started with these values, then ALLUSERS will be
                changed to "" before running any actions. However, if the UI phase ends
                and both properties still have the same values (ALLUSERS="",
                MSIINSTALLPERUSER=1), then it will reset ALLUSERS=2 before invoking the
                execution phase.

            * Properties that depend on a ProgramFiles folder are immediately
              re-evaluated in the following circumstances. This will be important for
              the InstallDirDlg, if we ever add it:
              * Setting ALLUSERS=1 sets the per-machine location.
              * Setting ALLUSERS="", MSIINSTALLPERUSER=1, in that order, sets the
                per-user location.

            * Most standard actions, such as FindRelatedProducts, interpret ALLUSERS=""
              as per-user scope, and any other value as per-machine scope.

            Based on this, our UI phase sets the properties to one of two states:
              * Per-user: ALLUSERS="", MSIINSTALLPERUSER=1
              * Per machine: ALLUSERS=1, MSIINSTALLPERUSER="" -->

            {% if cookiecutter.install_scope != "perUserOrMachine" %}
            <!-- The scope is pre-determined, and the properties have already been set
            to the correct values by the <Package> Scope attribute. -->
            <Publish
                Dialog="WelcomeDlg"
                Control="Next"
                Event="EndDialog"
                Value="Return" />

            {% else %}
            <!-- Let the user choose the scope. -->
            <Publish
                Dialog="WelcomeDlg"
                Control="Next"
                Event="NewDialog"
                Value="InstallScopeDlg" />

            <Publish
                Dialog="InstallScopeDlg"
                Control="Back"
                Event="NewDialog"
                Value="WelcomeDlg" />

            <!-- Per-user scope. Although this is the default, we still need code to set
            it, because if we add more dialogs it will become possible to go back and
            change the setting. -->
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="1"
                Condition='WixAppFolder = "WixPerUserFolder"'
                Property="ALLUSERS"
                Value="{}" />
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="2"
                Condition='WixAppFolder = "WixPerUserFolder"'
                Property="MSIINSTALLPERUSER"
                Value="1" />
            {% if cookiecutter.console_app %}
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="3"
                Condition='WixAppFolder = "WixPerUserFolder"'
                Event="AddLocal"
                Value="UserPathEnvFeature" />
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="4"
                Condition='WixAppFolder = "WixPerUserFolder"'
                Event="Remove"
                Value="MachinePathEnvFeature" />
            {% endif %}

            <!-- Per-machine scope -->
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="11"
                Condition='WixAppFolder = "WixPerMachineFolder"'
                Property="ALLUSERS"
                Value="1" />
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="12"
                Condition='WixAppFolder = "WixPerMachineFolder"'
                Property="MSIINSTALLPERUSER"
                Value="{}" />
            {% if cookiecutter.console_app %}
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="13"
                Condition='WixAppFolder = "WixPerMachineFolder"'
                Event="AddLocal"
                Value="MachinePathEnvFeature" />
            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="14"
                Condition='WixAppFolder = "WixPerMachineFolder"'
                Event="Remove"
                Value="UserPathEnvFeature" />
            {% endif %}

            <Publish
                Dialog="InstallScopeDlg"
                Control="Next"
                Order="99"
                Event="EndDialog"
                Value="Return" />

            {% endif %}

            <!-- Move FindRelatedProducts after the configuration dialogs to ensure it
            searches the configured scope. This comes after the LaunchConditions action,
            so downgrades will no longer be blocked in the UI phase, but that's OK
            because LaunchConditions will run again in the execution phase. -->
            <InstallUISequence>
                <FindRelatedProducts After="ProgressDlg" />
            </InstallUISequence>

            <Publish
                Dialog="ExitDialog"
                Control="Finish"
                Event="EndDialog"
                Value="Return"
                Order="999" />
        </UI>

        <!-- Include necessary strings (https://stackoverflow.com/questions/44161526) -->
        <UIRef Id="WixUI_ErrorProgressText" />
        <UIRef Id="WixUI_Common" />
    </Package>
</Wix>
