name: Update binary
on:
  push:
    tags:
    - 'b*'

jobs:
  build-stubs:
    name: Build stub binaries
    runs-on: windows-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.8', '3.9', '3.10']
    steps:
    - name: Set build variables
      env:
        TAG_NAME: ${{ github.ref }}
      run: |
        $env:TAG=$env:TAG_NAME.split("/")[-1]
        echo TAG=$env:TAG
        "TAG=$env:TAG" >> $env:GITHUB_ENV
    - name: Checkout template
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version}}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install briefcase
    - name: Generate VisualStudio stub app
      run: |
        # Generate the stub app
        cd stub
        briefcase create windows visualstudio
        briefcase build windows visualstudio
        echo "Move the binary into the final location"
        Copy-Item .\windows\visualstudio\Stub\x64\Release\Stub.exe -Destination .\Stub-${{ matrix.python-version }}.exe
    - name: Upload Stub artefact
      uses: actions/upload-artifact@v3
      with:
        name: stubs
        path: stub/Stub-${{ matrix.python-version }}.exe

  commit-stubs:
    name: Commit stub binaries
    needs: build-stubs
    runs-on: windows-latest
    steps:
    - name: Set build variables
      env:
        TAG_NAME: ${{ github.ref }}
      run: |
        $env:TAG=$env:TAG_NAME.split("/")[-1]
        echo TAG=$env:TAG
        "TAG=$env:TAG" >> $env:GITHUB_ENV
    - name: Checkout template
      uses: actions/checkout@v3
    - name: Download Stub artefacts
      uses: actions/download-artifact@v3
      with:
        name: stubs
        path: stub
    - name: Commit stubs
      run: |
        git config user.email "brutus@beeware.org"
        git config user.name "Brutus (robot)"
        # Move the binary into it's final location
        Copy-Item stub/Stub-* ".\{{ cookiecutter.formal_name }}\src"
        git add ".\{{ cookiecutter.formal_name }}\src"
        git commit -m "AUTO: Update app binaries; build ${{ env.TAG }}"
        git push origin HEAD:main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
